//* {
  //outline: 1px solid red !important;
//}

/* Estilo general para la barra de desplazamiento */
::-webkit-scrollbar {
    width: 4px; /* Hacer la barra de desplazamiento delgada */
}

::-webkit-scrollbar-thumb {
    background-color: #28A745; /* Color verde */
    border-radius: 10px; /* Bordes redondeados */
}

.content-parent{
    display: flex;
    flex-direction: row;
    margin-top: 7%;
    justify-content: center;
    width: 100%;
    height: 90vh;

    .text-left{
        display: flex;
        flex-direction: column;
        margin-right: 8%;
        align-items: center;


        .img-container{
          border-radius: 10px;
          overflow: hidden;
          height: 200px;
          width: 400px;
          margin-top: 8%;

          img{
            object-fit: cover;
            width: 100%;
            height: 100%;
          }
        }

        .text-container{
          width: 600px;

           p{
            text-align: left;   
            letter-spacing: 1px;
            margin-top: 9%;
            font-family: "Roboto", serif;
            font-weight: 280;
            font-style: italic;
    
           }
        }

        h2{
          font-family: "Roboto", sans-serif;
          font-weight: 300;
          font-style: italic;
          font-size: 2rem;
          letter-spacing: 1px;
          
        }
    }

    .tables-parent{
      display: flex;
      flex-direction: column;
      align-items: center;

      h2{
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        font-style: italic;
        font-size: 2rem;
        letter-spacing: 1px;
      }

      .filtro-fecha{
        margin-bottom: 20px;

        .input-fecha{
          margin-right: 20px;
          font-family: 'Roboto', sans-serif;
          font-size: 14px;
          color: #333;
          border: 2px solid #4CAF50;
          border-radius: 8px;
          text-align: center;
          padding: 8px 16px;
        }

        .output-fecha{
          margin: 0;
          @extend .input-fecha
        }

        .fecha-btn{
            margin-left: 20px;
            cursor: pointer;
            background: #4CAF50; 
            border: none;
            color: white;
            padding: 12px 20px;
            font-size: 1rem;
            border-radius: 5px;
            position: relative;
            overflow: hidden;
            transition: background 0.3s ease;
        }

        .fecha-btn:hover{
            background: red; /* Azul más oscuro al pasar el mouse */
        }
      }

      .table-container{
          max-height: 70%;
          overflow-y: auto;
      }

      table{
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        font-style: italic;
        border-style: solid;
        border-radius: 20px;
        border-color: #28A745;
        border-width: 1px;
        padding-top: 15px;
        border-bottom: none;
      }

        /* Personalización del scrollbar solo para la tabla */
      table::-webkit-scrollbar {
          width: 3px; /* Ancho del scrollbar */
      }

      table::-webkit-scrollbar-thumb {
          background-color: #28A745; /* Color verde del thumb */
          border-radius: 10px; /* Bordes redondeados */
      }

      table::-webkit-scrollbar-thumb:hover {
          background-color: #555; /* Cambio de color cuando se pasa el mouse */
      }

      table::-webkit-scrollbar-track {
          background-color: #f1f1f1; /* Color de fondo del track */
          border-radius: 10px; /* Bordes redondeados */
      }

      th, td{
          font-size: 15px;
          padding: 20px;
          text-align: left; /* Alineación a la izquierda */
          border-bottom: 2px solid #4CAF50; /* Línea separadora entre filas */
          color: #333; /* Color de texto */
      }

      th, td {
          border-left: none;
          border-right: none;
      }

      td {
          background-color: #f9f9f9; /* Fondo suave para las celdas de datos */
      }

      tr {
          border-bottom: 1px solid #ddd; /* Línea delgada separando las filas */
      }
    }

    .excel-btn{
      color: #4CAF50;
      cursor: pointer;
      margin-top: 10px;
    }
}
